.shop-phots {
  margin-top: 13px;
}

.shop-phots__image img {
  border-radius: 10px;
  height: 130px;
  width: 85px;
}

.shop-phots__image {
  display: flex;
  flex-direction: column;
}

.shop-phots__image-big img {
  height: 260px;
  width: 170px;
  border-radius: 10px;
}

.shop-phots__column1 {
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.shop-phots__column2 {
  margin-right: 5px;
}

.shop-phots__column {
  margin-right: 5px;
}
