.alt-header {
  margin: 30px 15px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.alt-header__column .fa-qrcode {
  font-size: 21px;
}
.alt-header__column:first-child {
  width: 92%;
}
.alt-header__serch input {
  border-radius: 5px;
  width: 100%;
  height: 25px;
  border: none;
  background-color: rgba(0, 0, 0, 0.1);
}
.alt-header__serch input::placeholder {
  text-align: center;
}

.alt-header__serch .fa-search {
  color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 6px;
  left: 7px;
}
.alt-header__serch {
  position: relative;
}

.up-margin {
  margin-top: 60px;
}
